.centerholding {
  margin: auto;
  width: 90%;
  max-width: 600px;
  margin-top: 80px;
}

.vertcomp {
  min-height: 80vh;
}

a {
  color: #fff;
}

ul, ol {
  color: #fff;
}

li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.divideline {
  border-bottom: 1px solid #fff;
}

.bpar {
  font-weight: 800;
}

#version {
  text-align: right;
}
