.footerhold {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 40vh;
  grid-row-gap: 10vh;
}

p.footertext {
  color: #fff;
}

.addresshold {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.holdbottom {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
}

.holdtop {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.infohold {
  width: 300px;
}

.copyleft {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.copyleft {
}

.footerhold>div {
  padding: 1rem;
}

#smallish {
  width: 50px;
}

.logoholder {
  margin: auto;
}

.logotextbox {
  text-align: center;
  margin: auto;
}

.logolargeimage {
  width: 50px;
  margin: auto;
}

.social {
  display: flex;
  align-items: center;

}

.social>div {
  margin: 6px;
}

.sitemap {
  float: right;

}

@media only screen and (max-width: 1180px) {

  .footerhold {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30vh 60vh;
  }

  .addresshold {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .holdbottom {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: center;
  }


  .holdtop {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .copyleft {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }


}
