.featleftgrid {
  display: inline-flex;
  width: 100%;
}

.featbg {
  padding-top: 20vh;
  padding-bottom: 20vh;
  border-top: 2px solid #131518;
  width: 90%;
  margin: auto;
}


.projtitle {
  color: #ffffff;
  font-family: 'Public Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.projwords {
  color: #ffffff;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 160%;
}

.featparhold {
  width: 50%;
  margin: auto;
}

.featpar {
  width: 100%;
  margin: auto;
  padding-left: 5vw;
}

.projpic {
  width: 50%;
  margin: auto;
}

#roundtable {
  height: 800px;
}

h2.subtitle {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}

#noborder {
  border: 0px;
  padding-left: 100px;
  background: transparent;
}

#tablebloc {
  border: 0px;
  height: 300px;
}

.bluebg {
  width: 100%;
  background: #0258FF;
}

#whitebg {
  background: #fff;
}

#inversebod {
  color: #000;
}

.bgwhite {
  width: 100%;
  background: #fff;
  border-top: 1px solid #000;
}

.mustmay {
  display: inline-grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 12px;
  width: 90%;
}

.mustcard {
  border-radius: 8px;
  background: linear-gradient(254.51deg, #280925 -298.78%, #070C16 44.11%, #0452EB 275.5%);
  padding: 12px;
  padding-top: 24px;
}
