.landinggrid {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  height:auto;
  padding-top: 60px;
}

.landinghold {
  background: #000;
  color: #fff;
}

.landingtext {
  width: 70%;
  margin: auto;
  font-family: 'Public Sans', sans-serif;
}

.landingtextbg {
  width: 100%;
  min-height: 90vh;
  height: auto;
  background: linear-gradient(118.3deg, #610758 -45.41%, #101D36 72.3%, #0349CF 151.73%);
}

.landingheadline {
  font-family: 'Public Sans', sans-serif;
  font-size: 2.2vw;
  font-weight: 700;
}

.wrapperxsize {
  display: block;
  margin: auto;
  width: 550px;
}

.wrapperhold {
  margin: auto;
  width: 600px;
}

.landingsubhead {
  width: 90%;
}

.landingsubhead>h2 {
  font-size: 2rem;
  font-weight: 200;
}

.landingpara {
  width: 80%;
}

.landingpara>p {
  font-size: 16px;
  line-height: 160%;
  color: #CFD4DA;
}

.landingbuttonhold {
  padding-top: 20px;
  width: 80%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
}

.wrappersize {
  display: inline-flex;
}

.wrappercomp {
  min-height: 80vh;
}

.logohold {
  display: inline-flex;
  align-items: center;
}

.logopic {
  height: 30px;
  margin-right: 15px;
}

.logotext>h4 {
  font-weight: 200;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

.logotext {
  margin: auto;
}

.lightblue {
  color: #6CA7EC;
}

.landingtextycomp {
  display: inline-flex;
  height: 90%;
  width: 100%;
}

.landingcomp {
  height: 80vh;
}

@media only screen and (max-width: 1180px) {

  .landinggrid {
    display: block;
  }

  #disp {
    display: none;
  }

  .landingbuttonhold {
    display: block;
  }

  .wrapperhold {
    width: 90vw;
  }

  .wrapperxsize {
    width: 90vw;
  }

  .landingtext{
    width: 90%;
  }

  .landingheadline {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .landingsubhead {
    width: 90%;
  }

  .landingpara>p {
    font-size: 14px;
  }

  .landingtextbg {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

}
