.navbartop {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem !important;
  position: fixed;
  z-index: 5;
  background: #000;
  margin-top: 0;
  top: 0;
}

.navbarsub {
  font-family: 'Public Sans', sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
}

.navbargrid {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.navtoplevelpages {
  display: none;
}

.mobileclose {
  display: none;
}

.menuitem {
  padding-left: 24px;
}

.navitem {
  text-decoration: none;
}

#padbutton {
  padding-left: 24px;
  padding-right: 24px;
}

.mobilenav {
  display: block;
  align-self: center;
}

.hammenu {
  width: 36px;
}

.mobilemenueitems {
  padding-bottom: 24px;
  display: none;
}

.disp-i-b {
  display: none;
}

.mobilemenuactive {
  display: block;
}

.mobileinactive {
  display: none;
}

@media only screen and (min-width: 1180px) {

  .mobilenav {
    display: none;
  }

  .navtoplevelpages {
    display: block;
    display: flex;
    float: right;
  }


}
