.positiongrid {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.positiona {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.positiontitle>h3,h4,p {
  color: white;
}

span.quote {
  color: #0258FF;
  font-size: 32px;
}
