.titleholding {
  width: 700px;
  margin: auto;
  text-align: center;
}

.changeview {
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-flex;
}

.changeview>div {
  width: 225px;
}

.lblock {
  border-right: 1px solid #fff;
}

.rblock {
  border-left: 1px solid #fff;
}

.rightgrid {
  display: inline-flex;
  padding-top: 5vh;
  width: 100%;
}

.leftparhold {
  width: 50%;
}

.content>li {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 0;
  display: none;
}

#activate {
  display: block;
  animation: transital 0.5s;
}

.sqitchbox {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 8px;
  background: linear-gradient(138.33deg, #610758 -45.41%, #101D36 72.3%, #0349CF 151.73%);
}

.content {

}

.buttonshold {
}

ol.content {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type:none;
  height: auto;
  width: 100%;
  padding-bottom: 5vh;
}

.buttonshold {
  width: 600px;
  margin: auto;
}

.buttonshold>button {
  width: 200px;
  padding: 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.operate {
  border-radius: 30px 0 0 30px;
  border-right: 0px;
}

.software {
  border-radius: 0 30px 30px 0;
  border-left: 0px;
}

.quitchtitle {
  text-align: center;
}

.quitchsubtitle {
  max-width: 600px;
  margin: auto;
  padding-bottom: 10vh;
  margin-top: 5vh;
}

@keyframes transital {
  from {
    opacity: 0;
    margin-left: 30vw;
  }
  to {
    opacity: 1;
    margin-left: 0vw;
  }
}

.inversebod {
  color: #fff;
  font-size: 12px;
}

.bluehold {
  background: #0258FF;
}

.twistyarrow {
  height: 30px;
}

.flipp {
  transform: rotate(180deg);
}
