.virtuehold {
 width: 80%;
 margin: auto;
 max-width: 1000px;
}

.virtuerow>div {
  width: 80%;
  margin: auto;
  max-width: 450px;
}

.virtuer {
  grid-row-start: 2;
  grid-column-start: 2;
}

.virtuer {
  padding-top: 0;
}

.virtuerow {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20vh auto;
}

.virtuepic {
  width: 70px;
  border-radius: 8px;
}

.virtueicon {
  padding-bottom: 24px;
}

#tworow {
  margin-top: -10vh;
}
