.wrapper {
  transform-style: preserve-3d;
  width:500px;
  height:400px;
  position: relative;
}

.wrapper:after {
  position: relative;
  left: 0;
  z-index: -1;
  display: block;
  content: '';
  height: 22px;
  width: 100%;
  background-size: 100%;
}


.bloc {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 30px;
  border: 1px solid #fff;
  position: relative;
  background: #000;
}

.content {
  transform: translateZ(80px) scale(1);
  -webkit-transform: translateZ(80px) scale(1);
  height: 200px;
  width: 480px;
  margin: auto;
  color: #fff;
  z-index: 3;
}

.content2 {
  transform: translateZ(160px) scale(1);
  -webkit-transform: translateZ(160px) scale(1);
  z-index: 4;
  display: relative;
  margin-top: -180px;
  height: 160px;
}

.diagramgrid {
  width: 480px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px;
  margin-top: -20px;
}

.diagramitem {
  border-radius: 30px;
  padding: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  width: 30%;
  text-align: center;
  background: linear-gradient(255.82deg, #860579 -193.35%, #070C16 84.84%, #0452EB 272.57%);
  border: 1px solid #fff;
}

.diagramitem>p {
  font-size: 10px;
  color: #fff;
}

.diagramtop {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: serif;
  text-transform: uppercase;
  justify-content: space-between;
  width: 33%;
  align-items: center;
}

.diagramtop>p {
  font-size: 12px;
}


#rehight {
  height: 300px;
}

.arrowhold {
  display: flex;
  justify-content: space-between;
}

.arrowsub {
  background: #fff;
  color: #000;
  padding: 0px;
  width: 180px;
  height: 22px;
}

.arrowsub>p {
  line-height: 0px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  color: #000;
}

#toparrowhold {
  margin-bottom: 60px;
}

.arrowcontainer {
  display: flex;
  align-items: center;
}

.arrowtriright {
  height: 0;
  width: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 30px solid #fff;
}

.arrowleft {
  height: 0;
  width: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 30px solid #fff;
}

span.subitem {
  text-align: center;
  color: #fff;
}

.whiteswitch {
  background: #fff;
}

.tablegrid {
  width: 600px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 80px 120px 120px 120px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 8px;
  align-content: center;
}

.tablegrid>div {
  margin-left: 12px;
  margin-top: 12px;
  padding-left: 12px;
  background: #000;
}

.decision {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

p.tablecontent {
  font-size: 12px;
  color: #fff;
}

p.tabletitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
}

.roundlog {
  width: 260px;
}

#nobg {
  background: none;
}

.void, .decision, .documentation, .assertion {
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  color: #fff;
}

.void {
  border-radius: 8px 0 0 0;
}

.assertion {
  border-radius: 0 8px 0 0;
}

.altgrad {
  background: linear-gradient(255.82deg, #860579 -193.35%, #070C16 84.84%, #0452EB 272.57%);
}

.altgradb {
  background: linear-gradient(297.19deg, #076A29 -170.93%, #070C16 105.02%, #0452EB 291.25%);
}

.altgradc {
  background: linear-gradient(254.51deg, #280925 -298.78%, #070C16 44.11%, #0452EB 275.5%);
}

.altgradd {
  background: linear-gradient(102.42deg, #860579 -255.93%, #070C16 70.38%, #04EB7C 282.8%);
}
