buttonfeat
  mixin buttonfeat(icon, address, call)
    .buttonhold
      .texthold
        .iconhold
          img.buttonicon(src=icon)
        p.buttontext
          a.buttonlink(href=address target="_blank")=call
