component
  .rightgrid
    .leftparhold
      .featnowsub
        .featpar
          h4.subtitle Component View
          p.projwords  INTERLIBR is a high-volume low-latency request-response processor. XALGO-RT is a client-side auxiliary app that assembles and sends IS.XALGO requests to INTERLIBR, then receives and stores OUGHT.XALGO responses. XALGO-RM is an auxiliary app for writing and managing RULE.XALGO and TABLE.XALGO documents. To facilitate authoring XALGO-RM can receive on-demand PATTERN.XALGO files.
    .projpic
      .wrapperhold
        .wrapper.elem(style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);")
          .bloc
            .diagramgrid
              .diagramtop
                p event or status change
                .diagramimg
                  img.twistyarrow(src="../images/i-twistarrow.png")
              .diagramtop
                p 
              .diagramtop
                p social or institutional agent
                .diagramimg
                  img.twistyarrow(src="../images/i-twistarrow.png")
            .content.content1
              .diagramgrid
                .diagramitem.altgradc
                  p xalgo rt
                    br
                    span.subitem component
                .diagramitem.altgrada
                  p interlibr
                    br
                    span.subitem network service
                .diagramitem.altgradd
                  p xalgo rm
                    br
                    span.subitem component
            .content.content2
              .arrowhold#toparrowhold
                .arrowcontainer
                  .arrowsub
                    p is.xalgo
                  .arrowtriright
                .arrowcontainer
                  .arrowleft
                  .arrowsub
                    p rule.xalgo
              .arrowhold
                .arrowcontainer
                  .arrowleft
                  .arrowsub
                    p ought.xalgo
                .arrowcontainer
                  .arrowsub
                    p rule.xalgo
                  .arrowtriright
                  
            .diagramgrid
              .diagramtop
                .diagramimg
                  img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                p event or status change
              .diagramtop
                p 
              .diagramtop
                .diagramimg
                  img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                p social or institutional agent
            .content.content3
