footer
  .footerhold
    .addresshold
      .infohold
        p.footertext Box 81958, world exchange plaza  Ottawa, Ontario, Canada K1P 181
    .copyleft
      .infohold
        p.footertext Text & Graphics CC-by International 4.0   Core Software Apache 2.0  Extensions Affero GPL 3.0
    .holdtop
      .sitemap
      .social
    .holdbottom
      .logoholder
        .logotextbox
        //  p.footertext  XALGORITHMS
        .logolargeimage
        //  img#smallish(src="../images/blbg.png")
  
  // link to js files
  script(src="../JS/jquery-3.4.1.min.js")
  script(src="../JS/style.js")
