head
  // passing title from app.js to page
  title #{title}
  // fonts
  link(href="https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap", rel="stylesheet")
  // css stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/navbar.css')
  link(rel='stylesheet', href='/css/featurescroll.css')
  link(rel='stylesheet', href='/css/img-left.css')
  link(rel='stylesheet', href='/css/button.css')
  link(rel='stylesheet', href='/css/position.css')
  link(rel='stylesheet', href='/css/virtues.css')
  link(rel='stylesheet', href='/css/wrapper.css')
  link(rel='stylesheet', href='/css/landing.css')
  link(rel='stylesheet', href='/css/threeshow.css')
  link(rel='stylesheet', href='/css/footer.css')
  link(rel='stylesheet', href='/css/positiondeet.css')
  link(rel='stylesheet', href='/css/profile.css')
  // housekeeping
  meta(name="viewport" content="width=device-width, initial-scale=1")
