img-left-three
  .featbg#whitebg  
    .featleftgrid
      .projpic
        .imgholder
          img(src="../images/i-xalgorithms_logomark_whitebackground.png")
      .featparhold
        .featnowsub
          .featpar
            h3.projtitle#inversebod Section Title
            p.projwords#inversebod From its inception five years ago, Xalgorithms has been 100% developer-resourced. Team members creating oughtomation came together ‘organically’, each committing effort and funds based upon a shared perception of this meso-level problem, a kernel of understanding about how to solve it, and an instinct to make this 100% free/libre/open. Our plan for 2020-2025 builds upon this tradition. We invite other developer-oriented free/libre/open initiatives to contribute effort and funds to help advance the oughtomation specification, the auxiliary components, service deployment, and to support the use-case working groups.
          
