featlefttwo
  .featbg
    .featleftgrid
      .featparhold
        .featnowsub
          .featpar
            h3.projtitle Tabular Declarative Style
            h2.subtitle Tabular declarative programming enables extremely fast, on-demand, event-driven, scalable computing.
            .mustmay
              .mustcard
                h4.subtitle GIVEN
                p.projwords a context (dates/times, jurisdictions) 'in effect'
              .mustcard
                h4.subtitle WHEN
                p.projwords certain facts are ‘applicable’
              .mustcard
                h4.subtitle THEN
                p.projwords the specified outputs are determined.
            p.projwords Computationally-intensive IF-THEN-ELSE procedures are pre-generated as input/output tables. Then during run-time, results can be obtained via simple table look-ups, naïve filtering and minor data transformations, for extremely fast GIVEN-WHEN-THEN computing:
      .projpic
        .wrapperhold#roundtable
          .wrapper.elem(style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);")
            .bloc#noborder
              .pichold
                img.roundlog(src="../images/contents_of_round_logs.png")
