featlefttwo
  mixin featlefttwo(title, subtitle, picture, body)
    .featbg#whitebg  
      .featleftgrid
        .projpic
          if block
            block
        .featparhold
          .featnowsub
            .featpar
              h3.projtitle#inversebod=title
              h2.subtitle#inversebod=subtitle
              p.projwords#inversebod=body
              p.projwords#inversebod The example at left is from a 30 row, 60 column table published 70 years ago, for use with contracts, regulations, fiscal instruments, logistics planning, engineering load calculations, pricing, and other uses.*  The algorithm takes two pages to explain, but a quick look-up to the table of results replaces having to re-run the algorithm each time it is referred to. 
              p.positsmall * Taylor, R. B. (1951). Musson’s Improved Ready Reckoner: Form and Log Book (Revised and Enlarged). Musson Book Company.
