featlefttwo
  .featbg#spaceer
    .featleftgrid#althold
      .featparhold.paddinglow
        .featnowsub
          .featpar
            h3.title Tabular Declarative Style
            h4.subtitle Tabular declarative programming enables extremely fast, on-demand, event-driven, scalable computing.
            .mustmay
              .mustcard
                p GIVEN
                p.smallposition.inversebod a context (dates/times, jurisdictions) 'in effect'
              .mustcard
                p WHEN
                p.smallposition.inversebod certain facts are ‘applicable’
              .mustcard
                p THEN
                p.smallposition.inversebod the specified outputs are determined.
            p.projwords Computationally-intensive IF-THEN-ELSE procedures are pre-generated as input/output tables. Then during run-time, results can be obtained with simple table look-ups, naïve filtering and minor data transformations. This enables extremely fast GIVEN-WHEN-THEN computing:
      .projpic
        .wrapperhold#roundtable
          img.roundlog(src="../images/contents_of_round_logs.png")
        .featnowsub
          .featpar#mobilewide
            .quitchsubtitle#quitchwidth
              p.smallposition.inversebod The example above is from a 30 row, 60 column table published 70 years ago, for use with contracts, regulations, fiscal instruments, logistics planning, engineering load calculations, pricing, and other uses.*  The algorithm takes two pages to explain, but a quick look-up to the table of results replaces having to re-run the algorithm each time it is required. 
