landing
  .landinghold
    .landinggrid
      .landingtextbg
        .landingtextycomp
          .landingcomp
          .landingtext
            .landingtexthold
              .logohold
                .logoimg
                  img.logopic(src="../images/iconsmtransparent.png")
                .logotext
                  h4 XALGORITHMS FOUNDATION
              .landingheadline
                h1 Oughtomation
              .landingsubhead
                h4.subtitle Oughtomation is any simple, factual, general-purpose computational method that gives effect to MUST, MAY and SHOULD assertions amongst individual and organizational agents.
              .landingpara
                p A general-purpose method,<br> a reference implementation,<br>and an extensible suite of use cases.
              .landingbuttonhold
                  .buttonhold#bluebutton
                    .texthold
                      .iconhold
                        img.buttonicon(src="../images/i-paper.png") 
                      p.buttontext
                        a.buttonlink(href="../images/Xalgorithms_Lightpaper_2020-02-03_v1.03.pdf" target="_blank") Light Paper
                  +buttonfeat (
                    "../images/i-github.png",
                    "https://github.com/Xalgorithms",
                    "Source code"
                  )
          
      .landingpic#disp 
        .wrapperxsize
          .wrappersize
            .wrappercomp
            .wrapperhold
                .wrapper.elem(style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);")
                  .bloc
                    .diagramgrid
                      .diagramtop
                        p event or status change
                        .diagramimg
                          img.twistyarrow(src="../images/i-twistarrow.png")
                      .diagramtop
                        p 
                      .diagramtop
                        p social or institutional agent
                        .diagramimg
                          img.twistyarrow(src="../images/i-twistarrow.png")
                    .content.content1
                      .diagramgrid
                        .diagramitem.altgradc
                          p rule taker
                            br
                            span.subitem component
                        .diagramitem.altgrad 
                          p data processor
                            br
                            span.subitem network service
                        .diagramitem.altgradd
                          p Rule maker
                            br
                            span.subitem component
                    .content.content2
                      .arrowhold#toparrowhold
                        .arrowcontainer
                          .arrowsub
                            p is facts
                          .arrowtriright
                        .arrowcontainer
                          .arrowleft
                          .arrowsub
                            p rule documents
                      .arrowhold
                        .arrowcontainer
                          .arrowleft
                          .arrowsub
                            p ought facts
                        .arrowcontainer
                          .arrowsub
                            p rule patterns
                          .arrowtriright
                          
                    .diagramgrid
                      .diagramtop
                        .diagramimg
                          img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                        p event or status change
                      .diagramtop
                        p 
                      .diagramtop
                        .diagramimg
                          img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                        p social or institutional agent
                    .content.content3
