navbar
  .navbartop
    .navbargrid
      .navbarsub
        p XALGORITHMS
      .navtoplevelpages
        .menuitem
          a.navitem(href="/")
            p Home
        .menuitem
          a.navitem(href="/team")
            p Team
