position
  .positionhold
    .positiongrid
      .positiona
        .positiontitle
          h3.title Internet 3.0
        .positional
          h4.subtitle Tomorrow’s Internet will separate prerogative for data control, application control and network control.
        .positionattrib
          p.small Internet Society
          .quoteiconhold
            img.littlequote(src="../images/i-quote.png")
        .quoteshow
          p.small "End users are data owners: People choose where they store their data. Apps become views: Break the tight coupling between data and applications. Interfaces become queries: Decentralized Web applications use only declarative queries to view and update data."
      .positiona
        .positiontitle
          h3.title Web 3.0
        .positional
          h4.subtitle Tomorrow’s Web will enable each agent’s prerogative for autonomous data control.
        .positionattrib
          p.small Ruben Verborgh
          .quoteiconhold
            img.littlequote(src="../images/i-quote.png")
        .quoteshow
          p.small "The ability of small numbers of huge organisations to be benevolent rule-makers while everyone else is a rule-taker could concentrate power on or over the Internet."
