teamlist
  include ../templates/profile
  .profilegrid
    +profile (
      "../images/profiles/i-joseph.png",
      "Joseph Potvin",
      "As co-founding Executive Director of Xalgorithms, Joseph is responsible for 'oughtomation' system design, theoretical research and use case integration. His 30-year career in applied economics and free/libre/open informatics involved inventive business analysis and design for companies, governments, multilaterals and foundations. His 'High Resilience Environment' design has hosted Canada's emergency response system for more than 15 years. Now completing a doctorate, he currently also leads two applied oughtomation projects: the Earth Reserve Assurance monetary anchor, and a business consortium for market- based metropolitan passenger rail finance. "
    )
    +profile (
      "../images/profiles/i-don.png",
      "Don Kelly",
      "Don Kelly is a full-stack systems designer and developer who leads oughtomation technical specifications and implemenation, and coaches the developer community. Don is a creative veteran programmer with experience in diverse projects at all layers including network, kernel, mobile, microservices, containers, data-oriented programming, and domain-specific languages. Separately from his technical leadership with Xalgorithms Foundation, Don is head of production engineering at an e-commerce firm that has over $1B in annual revenues."
    )
  .spacer.mobilehide
  .profilegrid
    +profile (
      "../images/profiles/i-bill.png",
      "William Olders",
      "In addition to serving as co-founding Chair of Xalgorithms, Bill provides technical guidance to the team on tabular declarative programming methods to achieve ultra-high-performance event-based computation. He draws upon 30 years as the founding President and CTO of a boutique firm that specializes in high-volume rule-based transaction processing for several of the world's largest banks, credit card companies and insurance firms."
    )
    +profile (
      "../images/profiles/i-ryan.png",
      "Ryan Fleck",
      "Ryan has collaborated on Xalgorithms core technical development and testing since attending a 2018 event co-hosted by Xalgorithms and the Free Software Foundation. He had carried out end-to-end tests, and made an instructional video stepping through the functional sequence line-by-line to show others exactly how it works. Ryan is currently a 3rd-year student of Computer Engineering at University of Ottawa, and has private-sector experience in systems migration."
    )
  .spacer.mobilehide
  .profilegrid
    +profile (
      "../images/profiles/i-craig.JPG",
      "Craig Atkinson",
      "Since 2016 Craig has cultivated adaptation of 'oughtomation' to international 'Trade Policy 3.0' through 'an Internet of Rules'. He has outlined its game-changing significance in a series of articles in prominent trade publications."
    )
    +profile (
      "../images/profiles/i-calvin.png",
      "Calvin Hutcheon",
      "Calvin has contributed to the Xalgorithms projects conceptually and graphically since mid-2019, integrating the core system and the suite of use cases into a portfolio identify system. Calvin is attracted to unique design challenges inherent in communicating complex themes in ways that reach people with simplified depth of meaning. Calvin is a recent graduate from the Maryland Institute College of Art (MICA) with a multidisciplinary degree spanning graphics, science, literature and politics."
    )
  .spacer.mobilehide
  .profilegrid
    +profile (
      "../images/profiles/stephane.png",
      "Stéphane Gagnon",
      "Stéphane Gagnon is Associate Professor in Business Technology Management (BTM) at the Université du Québec en Outaouais (UQO) and founding member of the Government Analytics Research Institute (GARI). His research deals with digital transformation and big data analytics, applied to the financial services industry and public administration."
    )
