threeshow
  .rightgrid
    .leftparhold
      .featnowsub
        .featpar
          h4.subtitle Function View
          p.projwords When practical or ethical obligations or permissions appear in law, contracts, specifications, policies or treaties, a RULE MAKER component can be used to publish to the internet, tabular declarative propositions about these rules. Independently, whenever data about some event or status change is supplied to a RULE TAKER component, it sends a simple ‘is’ request message to the Internet. A DATA PROCESSOR uses these supplied facts to filter for rules currently ‘in effect’ and ‘applicable’ to those facts. It tests and organizes the selected rules into an ‘ought’ response message that is sent back to the RULE TAKER component. 
    .projpic
      .wrapperhold
        .wrapper.elem(style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);")
          .bloc
            .diagramgrid
              .diagramtop
                p event or status change
                .diagramimg
                  img.twistyarrow(src="../images/i-twistarrow.png")
              .diagramtop
                p 
              .diagramtop
                p social or institutional agent
                .diagramimg
                  img.twistyarrow(src="../images/i-twistarrow.png")
            .content.content1#mobilesize
              .diagramgrid
                .diagramitem.altgradc
                  p rule taker
                    br
                    span.subitem component
                .diagramitem.altgrada
                  p data processor
                    br
                    span.subitem network service
                .diagramitem.altgradd
                  p rule maker
                    br
                    span.subitem component
            .content.content2
              .arrowhold#toparrowhold
                .arrowcontainer
                  .arrowsub
                    p is facts
                  .arrowtriright
                .arrowcontainer
                  .arrowleft
                  .arrowsub
                    p rule documents
              .arrowhold
                .arrowcontainer
                  .arrowleft
                  .arrowsub
                    p ought facts
                .arrowcontainer
                  .arrowsub
                    p rule patterns
                  .arrowtriright
                  
            .diagramgrid
              .diagramtop
                .diagramimg
                  img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                p event or status change
              .diagramtop
                p 
              .diagramtop
                .diagramimg
                  img.twistyarrow.flipp(src="../images/i-twistarrow.png")
                p social or institutional agent
