.virtuehold
  .virtuerow
    .virtuel
      .virtueicon
        img.virtuepic(src="../images/distribute.gif")
      h3.title Smart Edges, Simple Core
      p.projwords The future internet will require a general-purpose method to give effect to MUST, MAY and SHOULD asserted at the edge. Data control and processing complexity belong at the edges of the Internet, on the computers of individuals, organizations, and their chosen speciality service providers. Data control includes choice in data routing. Two or more parties may prefer to communicate on the Internet solely via routers that implement particular neutrality, privacy or other normative rule sets. 
    .virtuer
      .virtueicon
        img.virtuepic(src="../images/coupled.gif")
      h3.title Uncoupled Networks
      p.projwords The oughtomation method implements “rules-as-data” with simple input/output control-tables that work with any programming language, when accompanied with a suitable parsing library. Loose coupling of components and data means interchangeable alternative implementations, to avoid misplaced restrictions relating to platform, programming language, operating system or supplier, which  clash with edge-based prerogative. This avoids “rules as code” lock-in where algorithms are expressed in various incompatible procedural programming languages.
  .virtuerow#tworow
    .virtuel
      .virtueicon
          img.virtuepic(src="../images/arc.gif")
      h3.title User Freedom <br>
      p.projwords The user’s intellectual and tangible faculty of action—their agency—is extended by the use of computer programs. This is a ‘demand-side’ concern. When a society is premised upon consent, every user retains freedom of agency to run software for any purpose, to not run it, to study how the program works, to adapt it to specific needs, to copy the program and to redistribute copies, to improve the program, and to release any modified versions.
    .virtuer
      .virtueicon
        img.virtuepic(src="../images/rules.gif")
      h3.title Open Source Construction
      p.projwords The programmer’s intellectual and tangible faculty of action—their agency—is enable through the authoring and deployment of computer programs. This is a ‘supply-side’ concern. The market value proposition for open source methods is that coopetition enables participating individuals and organizations to significantly augment benefits, better manage risk, and reduce costs through collaborative provisioning, learning, transparency, innovation and interoperability.
