html
  header
    include ../templates/head
    
  body
    // templates
    include ../templates/navbar
    .centerholding
      .vertcomp
        .verth
        .vertcontent
          h3.title How to Contribute Research Funds
          p.projwords 
            | We invite financial contributions to help advance the oughtomation specification, the reference implementation, service deployment, and particular use-case working groups.
            | Payment can be made via direct deposit to:
            br
            br
            | Xalgorithms Foundation
            br
            | 50 Hines Road, Suite 240
            br
            | Ottawa, Canada K2K 2M5
            br
            | Reserve Account #1079433
            br
            | Transit #00006
            br
            | Institution #003
            br
            | SWIFT #ROYCCAT2
            
          p.projwords 
            | Please contact 
            a(href="mailto:jpotvin@xalgorithms.org") Joseph Potvin
            |, Executive Director to make alternative contribution arrangements,  and to receive a contribution receipt.
    include ../templates/footer
