html
  header
    include ../templates/head
    
  body
    // templates
    include ../templates/navbar
    .centerholding
      .vertcomp
        .verth
        .vertcontent
          p.projwords#version
            | Version 0.1.3 (31 March 2020)
          h3.title Global Reset
          br
          p.projwords  
            | We're in the midst of a global rebranching event towards an as-yet-unknowable set of emergent structures, functions, feedbacks and boundaries (system identity).
          ul
            li
               span.bpar Resilience 
               | is the absorption of system disturbance and reorganization, maintaining the same trajectory of evolving identity. 
            li 
              span.bpar Bifurcation 
              | is a disruptive system transformation from the same branch, to a new trajectory of evolving identity.
            li 
              span.bpar Rebranching 
              | is a chaotic system reformulation along a different branch, to a different identity on a different trajectory.
          p.projwords 
            | A rebranching event begins with maximum uncertainty.  The reset process is unique, non-linear, discontinuous, unpredictable, pluralistic, fickle, and self-organizing. 
            br
            br
            | The Xalgorithms Foundation team invites self-organizers to:
          ol
            li Resist the paralysis that comes from fear of uncertainty, and mesmerizing streams of situational detail.
            li Promptly conceptualize, design and implement 'resolution tasks' that may: 
              ul
                li Make a coherent range of futures more likely;
                li Reduce uncertainty by closing off perverse futures.
            li Minimize the amount of new information needed while maximizing its decision-making utility, so that our shared information effort is:
              ul
                li Cost effective: If equivalent decisions can be made based on less information, then less should be gathered and managed.
                li Cost efficient: Time and intensity of the research effort should be justified by qualitative improvements to decision-making. 
            li Collaborate in mechanism design projects suited to a wide range of potential futures because they embody:
              ul
                li Intrinsic agility as general purpose methods, in terms of:
                  ul
                    li What can be done with them;
                    li What they can be built with;
                    li What they may contribute to or give rise to.
                li Intrinsic integrity due to self-correcting feedback that:
                  ul
                    li Fosters instead of erodes overall system coherence;
                    li Inverts instead of amplifies overall system disturbance.
                li Intrinsic simplicity for:
                  ul
                    li Straightforward scalability of deployment and use;
                    li Ease of learning, auditing, maintenance and eventual replacement;
                    li Minimum ‘surface area’ for attack or failure, with pragmatic risk tolerance.
                li Intrinsic loose-coupling so that: 
                  ul
                    li Functional specifications are the only constraints;
                    li Alternative implementations of any give function are interchangeable;
                    li Form follows function.
                li Intrinsic respect for others, in terms of:
                  ul
                    li Social and institutional prerogative (weight of authority, agreement or preference) within each jurisdiction, where:
                      ul
                        li Power is delegated at the discretion of the relatively disaggregated micro decision-makers (subsidiarity); or
                        li Power is delegated at the discretion of the relatively more comprehensive or macro decision-makers (paramountcy).
                    li Demand-side freedom to use, study, adapt, copy, redistribute, improve and distribute modifications;
                    li Supply-side openness, transparency, and an explicit absence of artificial barriers to demand-side freedom.
            br
            h3.title Resolution Tasks
            br
            .divideline
            p.projwords Each of the initiatives summarized below will enable anyone to publish, discover, fetch and prioritize a class of normative messaging (MUST, MAY and SHOULD, and their negatives and synonyms), through the use of tabular declarative GIVEN-WHEN-THEN data filtering for cross-platform portability, scale, volume and speed, as well as circumscribed expressibility for determinate risk tolerance:
              ul
                li ‘In effect’ GIVEN dates/times, identities and jurisdictions; and
                li ‘Applicable’ WHEN particular facts exhibit; so that...
                li ‘Any device’ can THEN receive context-specific normative messages.
            .divideline
            br
            h4.subtitle Context-Specific Public Alerts Oughtomation (e.g. Pandemic Management and Precaution Optimization)
            p.projwords
              ul
                li Immediate, event-triggered transmission of context-specific normative messaging directly to individuals and organizations.
                li Each person can become aware of how to participate effectively in pandemic management and precautionary action.
                li Enables faster containment, and earlier resumption of activities required for economic, social and ecological integrity.
                li Auxiliary public communication for every jurisdiction (local, regional, national, international), and ad hoc control zones.
                li Complementary to existing standards and systems:
                ul 
                  li Common Alerting Protocol Version 1.2 (OASIS);
                  li Emergency Alert Broadcast Automation (OpenBroadcaster);
                  li Guidelines for National Emergency Telecommunication Plans (ITU);
                  li Framework for Emergency Calling Using Internet Multimedia & Non-Interactive Emergency Calls (IETF);
                  li Digital identity systems of any jurisdiction, as well as globally distributed identity systems.
            h4.subtitle Tabular Standards of Value for Stable Benchmark Pricing of Goods, Services, Assets and Currencies
            p.projwords
              ul
                li Global Market Capitalization Index;
                li Global Producer Price Index;
                li Global Primary Commodity Supply Index;
                li Earth Reserve Index.
            h4.subtitle Earth Reserve Assurance (ERA) Framework
            p.projwords
              ul
                li A multi-currency framework, each with its own Earth Reserve Index, and no central reference unit of account.
                li ERA Deposit Receipts:
                ul
                  li Provided by currency issuers in exchange for 200-year assurance of ecosystem integrity and resource availablity;
                  li Redeemable for the aggregate 75-year undiscounted present value of economic 'Rent' (standardized methodology);
                  li Freely tradable instrument at any market price in regulated securities markets.
                li Measurable factors can include topsoil and fresh water availability, quality and regularity, various ores for metal and minerals, species population health including human epidemiological indicators, genomic diversity and integrity, the extent and condition of local, regional and global habitats, and essential biogeochemical cycles.
            h4.subtitle Trade Policy 3.0
            p.projwords
              ul
                li Rapidly changing trade policy rules can be easily expressed, published, maintained, discovered, fetched and tested on-demand via the Internet.
                li Human-readable 'rules as data' can be exchanged among, or embedded into, any application for trade, commerce, logistics, value-chain administration which conform to global standard semantic schemas (i.e. an 'Internet of rules').
                li Reduce the operational costs of both 'single window' or 'distributed' architectures for trade, commerce, logistics and value-chain administration.
                li Trade and fiscal statutes can include an attached 'schedule' or employ an ‘incorporation by reference’ clause.
            h4.subtitle Tax Oughtomation 
            p.projwords
              ul
                li Automation of transaction taxes, exemptions, credits, and import/export duties is essential to public sector fiscal integrity.
                li Current extreme inefficiency and redundancy (multiple instances of the same rules, each programmed in multiple languages, testing, maintenance and documentation) creates an enormous drag on government revenue and fiscal policy objectives.
                li Oughtomation enables fiscal instruments to include an attached 'schedule' containing simple JSON control tables under free/libre/open/public-domain terms, for one-pass operationalization in any platform or application. 
            h4.subtitle Smart Contracting Meets Major Infrastructure Finance
            p.projwords
              ul
                li Generate data for precision value-recognition analytics, and negotiate apportionment of incremental value-added through distributed smart contracting.
                li Liberate major infrastructure (e.g. metropolitan rail transit) from constraints of government budgets, public debt, taxes, exclusivity charters and user fees.
                li Design for intrinsic dynamic resilience to financial crises by selecting both congruent and inverse components of value.

            h4.subtitle Web 3.0: Data ‘Rules-of-Conduct’ Oughtomation
            p.projwords
              ul
                li Express and automate data control prerogative with context-sensitive precision.
                li Bind rules-of-conduct to data transmissions at the packet level.
                li Automatically discover and conform with data controls.
            h4.subtitle Internet 3.0: Internet Protocol (IP) Packet Footer Specification for the Transmission of Normative Intent
            p.projwords
              ul
                li One of the unassigned 'bits' in the IP packet header "1" would cause a look-up to a control table in the packet ("IP packet footer");
                li This control table would be expressed in strictly-constrained low-expressibility Xalgo domain-specific language, in CBOR notation;
                li The packet footer specification for the control table would have assigned positions so that 0 or 1 would signal:
                ul
                  li 000: Logical—Practical—Ethical;
                  li 000: Imperative—Declarative—Empirical;
                  li 000: RuleMaker—RuleTaker—OtherParty;
                  li 000: MUST—MAY—SHOULD;
                  li 0: Negative of the MUST—MAY—SHOULD positions;
                  li 000: Be—Do—Have;
                li Example: "There exists a logical imperative that you should have..." can be communicated a follows: 1001000100010001
            .divideline
            p.projwords 
              | Share your feedback by contacting:
              br
              | Joseph Potvin 
              a(href="mailto:jpotvin@xalgorithms.org") (jpotvin@xalgorithms.org).
            .divideline
            br      
            p.projwords 
              | Source: 
              br
              br
              | Potvin, J., D. Kelly, W. Olders, S. Gagnon, R. Fleck, C. Atkinson, C. Hutcheon, A. Bernal (Forthcoming, 2020). Oughtomation. Dissertation articles in partial fulfillment of a Doctorate in Administration (Project Management). Université du Québec. Canada. 

          
    include ../templates/footer
