doctype html

html
  header
    include ../templates/head
    
  body
    // linking all of the templates
    include ../templates/featurescroll
    include ../templates/img-left
    include ../templates/button
    include ../templates/navbar
    
    // header
    include ../templates/landing.pug
    
    // must may and should
    
    
      
      
    // position on web 3 
    
    #trig
    include ../templates/position
    
    // rules
    
    +featleft (
      "MUST, MAY and SHOULD",
      "A normative rule expresses a relation between ‘is’ and ‘ought,’ based on agreement or authority.",
      "",
      "Our contribution is the design of a general-purpose method to enable anyone to publish, discover, fetch, test and triage declarative information about normative rules which are ‘in effect’ for given dates/times, identities and jurisdictions, and that are ‘applicable’ when certain facts exhibit. ",
      "When normative rules can be discovered and transmitted on-demand in response to specified events or status changes, many types of operations become greatly simplified, and each party’s control of their data is strengthened. ",
      "This approach to ‘oughtomation’ reflects core virtues of the Internet, as sumarized below.",
      "",
      "white paper"
      )
      .wrapperhold
        .wrapper.elem(style="transform: perspective(600px) rotateY(0deg) rotateX(0deg);")#rehight
          .bloc.whiteswitch#tablebloc
            .tablegrid
              .void
                .rotator
                  p.tabletitle must may should
              .decision
                .rotator
                  p.tabletitle PREROGATIVE
              .documentation
                .rotator
                  p.tabletitle PROPOSITION
              .assertion.paddingright
                .rotator
                  p.tabletitle DECISION
              .r2a
                .rotator
                  p.tabletitle Contextual
              .r2b
                p.tablecontent A system of rules
              .r2c
                p.tablecontent About a <br>system of rules
              .r2d.paddingright
                p.tablecontent These facts elicit all of these rules
              .r3a
                .rotator
                  p.tabletitle Practical
              .r3b
                p.tablecontent  A practical rule
              .r3c
                p.tablecontent  About a <br>practical rule
              .r3d.paddingright
                p.tablecontent  These facts elicit this practical rule
              .r4a
                .rotator
                  p.tabletitle Ethical
              .r4b
                p.tablecontent An ethical rule
              .r4c
                p.tablecontent about an <br>ethical rule
              .r4d.paddingright.roundcorner
                p.tablecontent These facts elicit this ethical rule
              
              
      
    
      
    
    // tabular
    include ../templates/img-left-two
                
    //threehold
    .sqitchbox
      .quitchtitle
        h3.title A Reference Implementation
      .buttonshold
        button.operate function
        button.component component
        button.software implementation
      ol.content
        li.heroa#activate
          include ../templates/threeshow
        li.herob
          include ../templates/component
        li.heroc
          include ../templates/implementation  
    .quitchsubtitle
      p.smallposition.inversebod 
        
    // virtues  
    include ../templates/virtues  
        
          
      
    // organization
    include ../templates/img-left-three
                

    // footer
    // footer includes js links
    include ../templates/footer
            
            
        
              
          

              
