html
  header
    include ../templates/head
    
  body
    // templates
    include ../templates/navbar
    include ../templates/img-left
    .spacer
    .profilegrid
      img.featurepic(src="../images/coupled.gif")
      .profilehold
        .profilemeta
          .profilepar
            h3.title The Team
            p.projwords The ‘oughtomation’ method, and ‘an Internet of Rules’ were jointly conceived and operationalized by Joseph Potvin, Bill Olders and Don Kelly. 
            p.projwords In the 1990s, Bill and Joseph independently and unknown to each other, conceptualized, planned, and developed elements of the 'oughtomation' method. In the following 25 years, Bill implemented his ideas in the private sector on mainframe systems for large financial institutions. Joseph implemented his ideas in the public sector, in part while leading an early free/libre user- controlled cloudlet system for high-performance distributed computing. Upon first meeting in late 2014, the two found their respective concepts so obviously synergistic that within a week they began dedicated collaboration on 100% free/libre and open source terms.  Don Kelly brought four years of technical virtuosity and distributed system creativity, for a general purpose solution. The extensive experience of the core systems architects has been bolstered by a cognitively diverse team, with key contributors hailing from backgrounds in commerce, trade, art, and design.
    .spacer.mobilehide
    
    include ../templates/teamlist
    .spacer.mobilehide
    include ../templates/footer
